#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 500px;
  /* height full */
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.start-btn {
  background: radial-gradient(82.93% 164.88% at 109.93% 50.25%, #C430F4 0%, #F848B3 46.18%, #F5884E 100%),
radial-gradient(115.67% 362.84% at -15.67% 105.54%, #6123CA 4.64%, rgba(234, 92, 168, 0) 100%),
linear-gradient(0deg, #D944BE, #D944BE),
linear-gradient(102.08deg, #F9C674 5.11%, #E964C4 36.18%, #FA62B7 58.8%, #9C6FFF 91.27%);
border: 1px solid #D944BE;
}



.start-btn:active, .start-btn:hover, .start-btn:focus, .prev-btn:active, .prev-btn:hover, .prev-btn:focus {
  border: 1px solid #D944BE !important;
  outline: none;
}



